<!DOCTYPE html>
<html ng-app="ngD3ChartsDemo">
<head>
    <% include ../partials/header.ejs %>
    <% include ../partials/js_lib.ejs %>
</head>

<body>
    <div ng-controller="index" layout="column" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" md-whiteframe="2">
              <span>ng-D3-Charts</span>
              <span flex></span>
              <md-button>

              </md-button>
            </div>
        </md-toolbar>
        <md-content layout="column" layout-gt-sm="row" layout-margin>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
        </md-content>
        <md-content layout="column" layout-gt-sm="row" layout-margin>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
        </md-content>
        <md-content layout="column" layout-gt-sm="row"layout-margin>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
        </md-content>
        <md-content layout="column" layout-gt-sm="row" layout-margin>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>
                     <p>chart</p>
                </md-content>
            </div>
        </md-content>
    </div>

    <script src="http://localhost:35729/livereload.js"></script>

</body>
</html>
