<!DOCTYPE html>
<html ng-app="ngD3ChartsDemo">
<head>
    <% include ../partials/header.ejs %>
    <% include ../partials/js_lib.ejs %>
</head>

<body>
    <div ng-controller="index" layout="column" ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools" md-whiteframe="2">
              <span>ng-D3-Charts</span>
              <span flex></span>
              <md-button>

              </md-button>
            </div>
        </md-toolbar>

        <div layout="column" layout-gt-sm="row" layout-margin>
             <div flex>
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Vertical Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <div class="chart-wrapper">
                    <ng-bar-chart dataset="fakeDataset" config="verticalBarChartConfig"></ng-bar-chart>
                </div>
            </div>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Horizontal Bar Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                 <div class="chart-wrapper">
                    <ng-bar-chart dataset="fakeDatasetHBar" config="horizontalBarChartConfig"></ng-bar-chart>
                 </div>
            </div>
        </div>



       <div layout="column" layout-gt-sm="row" layout-margin>
             <div flex>
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span>Line Chart</span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                 <div class="chart-wrapper">
                     <ng-bar-chart dataset="fakeDataset" config="lineChartConfig"></ng-bar-chart>
                </div>
            </div>
             <div flex class="chart-wrapper">
                 <md-toolbar>
                    <div class="md-toolbar-tools" md-whiteframe="2">
                      <span></span>
                      <span flex></span>
                      <md-button>

                      </md-button>
                    </div>
                </md-toolbar>
                <md-content>

                </md-content>
            </div>
        </div>


    </div>

    <script src="http://localhost:35729/livereload.js"></script>

</body>
</html>
